cockpit.log
.llamaconfig
tmp
calibre
dfii
docs
work
.svn_setup*
.gen_gitignore*
*.20[0-9]*-[0-9]*-[0-9]*-[0-9]*:[0-9]*:[0-9]*

# Modelsim
modelsim.ini
transcript
*.vstf
*.wlf


# Bender
.bender
Bender.lock
scripts/compile.tcl