cockpit.log
.llamaconfig
tmp
calibre
dfii
docs
work
.svn_setup*
.gen_gitignore*
*.20[0-9]*-[0-9]*-[0-9]*-[0-9]*:[0-9]*:[0-9]*
.bender

# Gitignore scripts for now
scripts

# Modelsim
modelsim.ini
transcript
*.vstf
