enc.tcl
save
tech
timingReports
powerReports
reports
encounterData
encounter.log*
encounter.cmd*
innovus.log*
innovus.cmd*
CTS_RP_MOVE.txt
enc_*.cmd.gz
*.dc.outbound.slew.*.txt
*.mtarpt
.interactive.constr.sdc
.view_def_*
.cadence
.tdrlog
.nano_eco_diode.list*
.holdtw.*.twf*
.anls_ems_*
.*.rs.fp*
.anls*
*.20[0-9]*-[0-9]*-[0-9]*-[0-9]*:[0-9]*:[0-9]*
qrc_*.log
rc_model.bin
voltus*
pp*.vsrc
.addstripe*