README.postlayout
README
saif
work
gate
scan
sim_postlayout.csh-example
modelsim.ini
vcd
*.wlf
transcript
compile_gate.csh-example
compile_rtl.csh-example
*.20[0-9]*-[0-9]*-[0-9]*-[0-9]*:[0-9]*:[0-9]*
wlft*
