fillcore-insert.tcl
fillperi-remove.tcl
power_grid.tcl
globalnet.tcl
qrc.extra.cmd
checkdesign.tcl
welltap.tcl
fillperi-insert.tcl
exportall.tcl
fillcore-remove.tcl
tiehilo.tcl
*.20[0-9]*-[0-9]*-[0-9]*-[0-9]*:[0-9]*:[0-9]*
